.container-about {
  display: flex;
  flex-direction: column;

  &__skills {
    @media (max-width: $mobile) {
      padding: 10px 20px;
    }

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
  }
  &__paragraph {
    @media (max-width: $mobile) {
      font-size: 1rem;
      padding: 10px 20px;
    }
    @media (min-width: $mobile) and (max-width: $large) {
      font-size: 1.5rem;
    }
    padding: 50px;
    font-size: 2rem;
    line-height: 1.5;
    text-align: justify;
  }

  &__items {
    margin-top: 2%;
  }
  &__image {
    @media (max-width: $mobile) {
      width: 40px;
      height: 40px;
    }
    width: 75px;
    height: 75px;
    margin: auto;
    text-align: center;
    & > img {
      width: 100%;
      height: auto;
    }
  }
  &__title {
    text-align: center;
    padding: 10px;
    font-weight: bold;
  }
}

.main-page {
  position: relative;
  height: 100vh;
  background-color: $mainColor;
  padding: 5px 0px;
}

.hoc {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  & > :nth-child(3) {
    height: auto;
  }

  & > :nth-child(4) {
    height: auto;
    padding-bottom: 50px;
  }
}

.resize-work {
  height: 80vh;
}
