.blobCursor {
  z-index: 9999;
}

.blobBlue {
  @media (max-width: $tablet) {
    display: none;
  }
  z-index: 1;
  position: fixed;

  cursor: pointer;

  & > h3 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 65px;
    font-size: 2rem;
    height: 50px;
    color: white;
    font-family: $titleFont;
    letter-spacing: 0.1rem;
  }
}

.MenuBubble {
  top: 2%;
  right: 2%;
}

.goBackBubble {
  bottom: 2%;
  right: 3%;
}
