/*
* base section : reset, global
*
**/

@import "./reset";
@import "./font";
@import "./breakpoints";
@import "./colors";
@import "./cube";
@import "./background";
@import "./homepage";
@import "./blob";
@import "./work";
@import "./title";
@import "./about";
@import "./contact";
body {
  overflow: hidden;
  font-family: $titleFont;
  color: white;
}
