.container {
  display: grid;
  grid-template-columns: repeat(16, 30px);
  grid-template-rows: repeat(15, 30px);
  max-width: 480px;
  color: black;
  margin: auto;
}

$hammer: (
  215,
  216,
  217,
  218,
  199,
  183,
  167,
  151,
  135,
  119,
  103,
  87,
  71,
  55,
  200,
  184,
  168,
  152,
  136,
  120,
  104,
  88,
  72,
  56,
  57,
  73,
  89,
  105,
  121,
  137,
  153,
  169,
  185,
  201,
  202,
  186,
  170,
  154,
  138,
  122,
  106,
  90,
  74,
  58,
  23,
  39,
  24,
  40,
  25,
  41,
  26,
  42,
  27,
  44,
  60,
  61,
  59,
  22,
  21,
  20,
  36,
  37,
  54,
  53,
  52,
  38,
  43
);

$hammercropped: (28, 45, 62);

@mixin Fullcolor($list) {
  @each $square in $list {
    & > :nth-child(#{$square}) {
      //   background: #a60303;
      background: rgba(167, 212, 255, random() * (1 - 0.3) + 0.3);
    }
  }
}

@mixin CropedTopright($list) {
  @each $square in $list {
    & > :nth-child(#{$square}) {
      display: inline-block;
      border-bottom: 30px solid rgba(167, 212, 255, random() * (1 - 0.3) + 0.3);
      border-right: 30px solid transparent;
    }
  }
}

@mixin CropedTopleft($list) {
  @each $square in $list {
    & > :nth-child(#{$square}) {
      display: inline-block;
      border-bottom: 30px solid rgba(167, 212, 255, random() * (1 - 0.3) + 0.3);
      border-left: 30px solid transparent;
    }
  }
}

@mixin CropedBottomright($list) {
  @each $square in $list {
    & > :nth-child(#{$square}) {
      display: inline-block;
      border-top: 30px solid rgba(167, 212, 255, random() * (1 - 0.3) + 0.3);
      border-right: 30px solid transparent;
    }
  }
}

@mixin CropedBottomleft($list) {
  @each $square in $list {
    & > :nth-child(#{$square}) {
      display: inline-block;
      border-top: 30px solid rgba(167, 212, 255, random() * (1 - 0.3) + 0.3);
      border-left: 30px solid transparent;
    }
  }
}

@mixin radiusTopLeft($list) {
  @each $square in $list {
    & > :nth-child(#{$square}) {
      border-top-left-radius: 50px;
    }
  }
}

@mixin radiusTopRight($list) {
  @each $square in $list {
    & > :nth-child(#{$square}) {
      border-top-right-radius: 50px;
    }
  }
}

@mixin radiusBottomLeft($list) {
  @each $square in $list {
    & > :nth-child(#{$square}) {
      border-bottom-left-radius: 50px;
    }
  }
}

@mixin radiusBottomRight($list) {
  @each $square in $list {
    & > :nth-child(#{$square}) {
      border-bottom-right-radius: 50px;
    }
  }
}

.hammer {
  @include Fullcolor($hammer);
  @include CropedTopright($hammercropped);
  & > * {
    animation: hammeranim 1s;
  }
}

$email: (
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  86,
  87,
  88,
  89,
  90,
  91,
  103,
  104,
  105,
  106,
  120,
  121,
  83,
  99,
  115,
  131,
  147,
  163,
  179,
  100,
  116,
  132,
  148,
  164,
  180,
  117,
  133,
  149,
  165,
  181,
  134,
  150,
  166,
  182,
  151,
  167,
  183,
  168,
  184,
  169,
  185,
  154,
  170,
  186,
  139,
  155,
  171,
  187,
  124,
  140,
  156,
  172,
  188,
  109,
  125,
  141,
  157,
  173,
  189,
  94,
  110,
  126,
  142,
  158,
  174,
  190
);

$emailBottomleft: (51, 68, 85, 102, 119, 136);
$emailBottomright: (122, 107, 92, 77, 62, 137);
$emailTopleft: (78, 93, 108, 123, 138, 153);
$emailTopright: (67, 84, 101, 118, 135, 152);

.email {
  @include Fullcolor($email);

  @include CropedBottomleft($emailBottomleft);
  @include CropedBottomright($emailBottomright);
  @include CropedTopright($emailTopright);
  @include CropedTopleft($emailTopleft);

  & > * {
    animation: emailanim 1s;
  }
}

$menu: (
  19,
  35,
  51,
  67,
  83,
  20,
  37,
  54,
  39,
  24,
  25,
  41,
  57,
  73,
  89,
  27,
  28,
  29,
  43,
  59,
  60,
  61,
  75,
  91,
  92,
  93,
  196,
  148,
  164,
  180,
  132,
  183,
  152,
  136,
  149,
  168,
  200,
  166,
  184,
  138,
  154,
  170,
  186,
  202,
  203,
  204,
  205,
  189,
  173,
  157,
  141
);

.menu {
  @include Fullcolor($menu);

  & > * {
    animation: menuanim 1s;
  }
}

$experience: (
  62,
  61,
  60,
  59,
  75,
  91,
  107,
  123,
  139,
  108,
  109,
  110,
  78,
  94,
  86,
  102
);
$experienceBottomleft: (85, 68, 51, 119, 136);
$experienceBottomright: (87, 72, 57, 117, 132);
$experienceTopleft: (71, 56, 101, 116, 131);
$experienceTopright: (69, 52, 103, 120, 137);

.experience {
  @include Fullcolor($experience);

  @include CropedBottomleft($experienceBottomleft);
  @include CropedBottomright($experienceBottomright);
  @include CropedTopright($experienceTopright);
  @include CropedTopleft($experienceTopleft);

  & > * {
    animation: experienceanim 1s;
  }
}

$skill: (
  21,
  22,
  23,
  24,
  38,
  39,
  54,
  55,
  70,
  86,
  87,
  71,
  102,
  103,
  118,
  119,
  134,
  135,
  150,
  151,
  167,
  166,
  182,
  183,
  164,
  165,
  180,
  181,
  30,
  29,
  28,
  27,
  43,
  44,
  59,
  60,
  75,
  76,
  91,
  92,
  107,
  108,
  93,
  94,
  109,
  110,
  125,
  126,
  141,
  142,
  157,
  158,
  173,
  174,
  189,
  190,
  172,
  171,
  187,
  188
);

.skill {
  @include Fullcolor($skill);

  & > * {
    animation: appearance 1s;
  }
}

$about: (
  35,
  46,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  147,
  157,
  131,
  115,
  99,
  83,
  67,
  51,
  62,
  78,
  94,
  110,
  126,
  142,
  158,
  148,
  149,
  150,
  151,
  152,
  153,
  154,
  155,
  156,
  85,
  101,
  102,
  86,
  88,
  89,
  104,
  105,
  91,
  92,
  107,
  108
);

$aboutTopLeft: (35, 85, 88, 91);
$aboutTopright: (46, 86, 89, 92);
$aboutBottomLeft: (147, 101, 104, 107);
$aboutBottomRight: (158, 102, 105, 108);

.about {
  @include Fullcolor($about);
  @include CropedBottomleft(172);
  @include CropedBottomright(173);
  @include radiusTopLeft($aboutTopLeft);
  @include radiusTopRight($aboutTopright);
  @include radiusBottomLeft($aboutBottomLeft);
  @include radiusBottomRight($aboutBottomRight);

  & > * {
    animation: appearance 1s;
  }
}

$scroll: (
  37,
  43,
  197,
  203,
  38,
  39,
  40,
  41,
  42,
  53,
  69,
  85,
  101,
  117,
  133,
  149,
  165,
  181,
  198,
  199,
  200,
  201,
  202,
  60,
  76,
  92,
  108,
  124,
  140,
  156,
  172,
  188,
  204,
  44,
  72,
  73,
  88,
  89
);
$scrollTopLeft: (37, 72);
$scrollTopright: (44, 73);
$scrollBottomLeft: (197, 88);
$scrollBottomRight: (204, 89);

.scroll {
  @include Fullcolor($scroll);
  @include radiusTopLeft($scrollTopLeft);
  @include radiusTopRight($scrollTopright);
  @include radiusBottomLeft($scrollBottomLeft);
  @include radiusBottomRight($scrollBottomRight);

  & > :nth-child(72) {
    animation: scrollDown 3s infinite linear;
  }

  & > :nth-child(73) {
    animation: scrollDown 3s infinite linear;
  }

  & > :nth-child(88) {
    animation: scrollDown 3s infinite linear;
  }

  & > :nth-child(89) {
    animation: scrollDown 3s infinite linear;
  }

  & > * {
    animation: appearance 1s;
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(150px);
    opacity: 0;
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hammeranim {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes emailanim {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes menuanim {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes experienceanim {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
