.layoutMenu {
  position: relative;
}

.containerMenu {
  display: flex;
  position: relative;
  width: 50%;
  z-index: 9999;
  height: 100vh;

  &__navbar {
    font-family: $titleFont;
    color: white;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;

    & > ul {
      line-height: 1.8;
      list-style-type: none;
      margin: auto;
      text-decoration: none;
      margin-left: 30%;
    }

    & > ul > li {
      position: relative;
      font-size: 4rem;
      font-weight: bold;
      cursor: pointer;
      width: fit-content;
      line-height: 90px;
      padding-bottom: 20px;
      padding: 0 20px;
    }
  }

  &__logo {
    position: absolute;
    color: white;
    top: 55%;
    left: 57%;
    transform: translate(-50%, -50%);
  }
}

.closeIcon {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 3rem;
  color: white;
  font-family: $titleFont;
  z-index: 9999;
  cursor: pointer;
  width: 50px;

  text-align: center;
  border-radius: 50px;
}

.presentation-container {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  margin-top: 12%;
  padding: 1.5rem;
  width: 40%;
}

.title__container {
  font-size: 1rem;
  position: relative;
  color: white;
  z-index: 1000;
  font-family: $titleFont;

  & > h1 {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

.button-container {
  position: relative;
  color: white;
  z-index: 1000;
  margin-top: 10%;
  font-size: 1.5em;
  text-align: center;
  font-family: $titleFont;
  height: 150px;
  margin: auto;
  display: flex;
  cursor: pointer;

  & > h2 {
    width: 300px;
    margin: auto;
    z-index: 1000;
    position: relative;
  }

  & > span {
    width: 100%;
    background-color: $highlight;
    height: 80px;
    width: 80px;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: 20%;
    text-align: center;
    border-radius: 50px;
  }
}

.backgroundLink {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.spanMenu {
  background-color: #4fcdab;
  height: 80px;
  width: 80px;
  position: absolute;
  left: 0;
  text-align: center;
  border-radius: 50px;
  z-index: -1;
}

.scroll-wrapper {
  position: absolute;
  left: 50%;
  bottom: 3%;
  transform: translateX(-50%);
  z-index: 9999;
}
.mouse {
  margin: 0 auto;
  background-color: white;
  position: relative;
  width: 2rem;
  height: 3.2rem;
  border-radius: 10rem;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: white;
    width: 0.35rem;
    height: 0.35rem;
    border-radius: 10rem;
    animation: scrollMouse 1.2s linear infinite;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 1.7rem;
    height: 3rem;
    background-color: $mainColor;
    border-radius: 10rem;
  }
}

@keyframes scrollMouse {
  0% {
    bottom: 50%;
    opacity: 0%;
  }

  10% {
    opacity: 100%;
  }

  90% {
    opacity: 50%;
  }

  100% {
    bottom: -50%;
    opacity: 10%;
  }
}
